* {
    font-family: 'Tangerine', cursive;

    color: #5f3919;
    list-style-type: none;
    text-decoration: none;
}
.ar-scene {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}